<div class="quiz">
  <ng-container>
    <mat-card>
      <mat-list>
        <div class="overline mb-4">{{laPreguntaActual.category}}
          <small>({{laPreguntaActual.constructor.name}})</small>
        </div>
        <div [innerHTML]="laPreguntaActual.display()"></div>
      </mat-list>
      <form [formGroup]="firstFormGroup">
        <div *ngIf="'MultipleChoiceQuestion'===laPreguntaActual.constructor.name">
          <mat-select (selectionChange)="createItems($event.value)">
            <mat-option *ngFor="let choice of currentQuestionOptions"
                        [value]="choice.value">{{choice.label}}</mat-option>
          </mat-select>
        </div>
        <mat-form-field appearance="fill" *ngIf="'FillBlankQuestion'===laPreguntaActual.constructor.name">
          <textarea matInput [value]="selectedAnswer?.label"
                    placeholder="Escriba sus respuestas en Órden separadas por espacios"></textarea>
        </mat-form-field>
        <button *ngIf="this.questionsData.length === (this.preguntaActual + 1 || 0)">Go to results</button>
      </form>
      <mat-paginator [length]="questionsData.length"
                     [pageSize]="1"
                     (page)="handleQuestionChange($event)"
                     aria-label="Select question" hidePageSize="true" showFirstLastButtons="true">
      </mat-paginator>
    </mat-card>
  </ng-container>
</div>
