<form [formGroup]="firstFormGroup">
  @switch (currentQuestionAlv.constructor.name) {
    @case ('MultipleChoiceQuestion') {
      <!--          (selectionChange)="createItems($event)" [(value)]="laPreguntaActual.userAnswer"-->
      <mat-select formControlName="firstCtrl" (selectionChange)="mulAnswerSelectionChanged($event)">
        @for (choice of currentQuestionOptions; track choice.label) {
          <mat-option
            [value]="choice.value"><span [textContent]="unescape(choice.label)"></span></mat-option>
        }
      </mat-select>
    } @case ('OneExampleQuestion') {
      <!--          (selectionChange)="createItems($event)" [(value)]="laPreguntaActual.userAnswer"-->
      <textarea matInput [value]="currentQuestionAlv.userAnswer"
                placeholder="Escriba un ejemplo"></textarea>
    } @case ('MultipleAnswerQuestion') {
      <mat-select formControlName="secondCtrl" (selectionChange)="mulAnswerSelectionChanged($event)" multiple
                  [value]="value"
                  (valueChange)="valueChange.emit($event)">
        <mat-option *ngFor="let choice of currentQuestionOptions"
                    [value]="choice.value"><span [textContent]="unescape(choice.label)"></span></mat-option>
      </mat-select>
    } @case ('FillBlankQuestion') {
      <mat-form-field appearance="fill">
          <textarea matInput [value]="currentQuestionAlv.userAnswer"
                    placeholder="Escriba sus respuestas en Órden separadas por espacios"></textarea>
      </mat-form-field>
    } @default {
      Tipo de pregunta no reconocido
    }
  }
  <ng-content></ng-content>
</form>
