<form [formGroup]="firstFormGroup">
  <ng-container [ngSwitch]="currentQuestionAlv.constructor.name">
    <div *ngSwitchCase="'MultipleChoiceQuestion'">
      <app-multiple-choice-question-template [unescape]="unescape"></app-multiple-choice-question-template>
    </div>
    <div *ngSwitchCase="'OneExampleQuestion'">
      <app-one-example-question-template></app-one-example-question-template>
    </div>
    <div *ngSwitchCase="'MultipleAnswerQuestion'">
      <app-multiple-answer-question-template [unescape]="unescape"></app-multiple-answer-question-template>
    </div>
    <mat-form-field appearance="fill" *ngIf="'FillBlankQuestion'===currentQuestionAlv.constructor.name">
      <app-fill-blank-question-template></app-fill-blank-question-template>
    </mat-form-field>
  </ng-container>
  <ng-content></ng-content>
</form>
