<ng-container>
  <mat-card>
    <mat-card-content>
      <div class="overline mb-4">{{laPreguntaActual.category}}
        <small>({{laPreguntaActual.constructor.name}})</small>
        <div [innerHTML]="laPreguntaActual.display()"></div>
      </div>
      You answered: {{laPreguntaActual.userAnswer}}
      <br>
      The correct answer was {{laPreguntaActual.answer}}
      <span *ngIf="laPreguntaActual.explanation">Explanation:<br>{{laPreguntaActual.explanation}}</span>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator [length]="questionsData.length"
                     [pageSize]="1"
                     (page)="handleQuestionChange($event)"
                     aria-label="Select question"></mat-paginator>
    </mat-card-actions>
  </mat-card>
</ng-container>
